<%- include('./partials/header') %>

    <div class="formBox">
        <form action="/search" method="post">
            <input type="text" name="animeTitle" id="" placeholder="Search Anime Title" required>
            <button type="submit">Search</button>
        </form>
        <a href="/" class="btn">Home</a>

    </div>
    <div class="animeContainer">
        <% animes.forEach(anime=> {%>

            <div class="animeCard">
                <img src="<%= anime.images.jpg.image_url %>" alt="anime-cover">
                <h3>
                    <%= anime.title %>
                </h3>

                <form action="/add-anime" method="post" class="addForm">
                    <input type="hidden" name="title" id="" value="<%= anime.title %>">
                    <input type="hidden" name="image_url" id="" value="<%= anime.images.jpg.image_url %>">
                    <input type="hidden" name="mal_id" id="" value="<%= anime.mal_id %>">
                    <input type="date" name="date_watched" id="" required placeholder="Date Completed">
                    <input type="number" name="rating" id="" min="0" max="10" required placeholder="Your Rating 1-10">
                    <textarea name="notes" id="" cols="30" rows="4" placeholder="Your Notes"></textarea>
                    <button type="submit">Add to My List</button>
                </form>
            </div>
            <% }); %>
    </div>


    <%- include('./partials/footer') %>